.navbar{
    background: #fff;
    box-shadow: 3px 3px 10px #ccc;
  
  
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding:  20px;
    font-weight: 600;
    text-transform: capitalize;
  }

 